@import url("https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans");

.button {
    height: 30px;
    height: 30px;
    min-width: 50px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #686868;
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    cursor: pointer;
    transition: background-color 100ms ease;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 12px;

    &:hover {
        background-color: darken(#686868, 10%);
    }

    &-disabled {
        pointer-events: none;
        user-select: none;
        opacity: 0.5;
        cursor: default;
    }
}